/* color scheme from: https://mir-s3-cdn-cf.behance.net/project_modules/1400/1a63e761175953.5c9cf674ca594.png */

body {
    background-color: #765D69;
}

h1 {
    font-family: Orbitron; 
    background-color: #FFFFFF33;
    padding:1rem;
    display: flex;
    justify-content: space-between;
}

.button-bar {
    display: flex;
    gap: 1rem;
}

button {
    font-family: Orbitron;
    font-size: 18px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* container */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* columns */
.three-columns-grid > * {
    padding:1rem;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Orbitron';
}

#todo-column {
    background-color: #FCD0BA;
}
#progress-column {
    background-color: #FEFAD4;
}
#done-column {
    background-color: #8FB9A8;
}

 /* Basic styles for the popup */
 .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
}
.popup button {
    padding: 8px 12px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.popup button.close {
    background-color: #dc3545;
}

.task {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff33;
    border: 1px solid #ccc;
    transition: all .2s ease-in-out; 
}

.task:hover {
    background-color: #ffffff44;
    transform: scale(1.05);
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-task-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.2rem;
}